@font-face {
  font-family: "HankenGrotesk"; /* Choose a name for your font */
  src: url("./assets/fonts/static/HankenGrotesk-Bold.ttf") format("truetype"),
    url("./assets/fonts/static/HankenGrotesk-ExtraBold.ttf") format("truetype"),
    url("./assets/fonts/static/HankenGrotesk-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Optional, helps prevent render-blocking */
}

body {
  font-family: "HankenGrotesk", sans-serif;
}

.container {
  position: absolute;
  display: flex;
  height: 510px;
  width: 700px;
  background-color: #fff;
  border-radius: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.results-wrapper {
  background: linear-gradient(to top, #2e2be9, #7857ff);
  width: 350px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffffb8;
}

.score-circle {
  position: relative;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: linear-gradient(to top, #5b3adf, #4927d3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score {
    font-size: 75px;
    color: #fff;
}

.results-wrapper h1 {
    color: #fff;
}

.results-wrapper p {
    width: 220px;
    text-align: center;
}

.summary-wrapper {
  width: 350px;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #343a50;
}

.summary-wrapper h2 {
    align-self: flex-start;
    margin-left: 50px;
}

.summary-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.summary-item {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  background-color: bisque;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
}

.summary-name {
  display: flex;
}

.summary-icon {
  margin-right: 1rem;
}

.summary-button {
  width: 270px;
  height: 50px;
  border-radius: 25px;
  border: none;
  outline: none;
  margin: 10px 0;
  padding: 5px;
  background: #303b59;
  color: #fff;
  cursor: pointer;
}

.summary-button:hover {
  background: linear-gradient(to top, #2e2be9, #7857ff);
}
